.youAreNot {
  position: relative;
  line-height: 1.25rem;
}
.pparagraph19 {
  position: absolute;
  width: calc(100% - 256.25px);
  top: 9.75rem;
  right: 8.01rem;
  left: 8.01rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 0.14rem var(--padding-12xs) 0.15rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.98rem;
}
.doIHave {
  margin: 0;
}
.doIHaveContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 3.68rem;
  font-weight: 400;
  font-family: inherit;
}
.pparagraph18 {
  position: absolute;
  width: calc(100% - 40px);
  top: 11.5rem;
  right: 1.25rem;
  left: 1.25rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 5.15rem 0.04rem 5.16rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.78;
  max-width: 43.75rem;
  font-size: 2.63rem;
  color: var(--color-black);
}
.itSeemsLikeContainer {
  position: absolute;
  top: 0;
  left: calc(50% - 161.91px);
  font-size: var(--font-size-smi-8);
  line-height: 1.47rem;
}
.adhdCanEasilyContainer,
.talkToOurContainer {
  position: absolute;
  top: 5.88rem;
  left: calc(50% - 167.91px);
  line-height: 1.47rem;
}
.talkToOurContainer {
  top: 10.29rem;
  left: calc(50% - 173.41px);
}
.pparagraph20 {
  position: relative;
  width: 21.88rem;
  height: 14.7rem;
  opacity: 0.9;
  max-width: 37.5rem;
}
.div {
  position: absolute;
  top: 18.91rem;
  left: calc(50% - 175px);
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-29xl);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-200);
}
.heading2 {
  position: relative;
  line-height: 1.37rem;
  opacity: 0.91;
  z-index: 0;
}
.f0f5aff043683c9bd1dArrow20wh {
  position: absolute;
  margin: 0 !important;
  height: 11.5%;
  width: 14.04%;
  top: 83.5%;
  right: 74.96%;
  bottom: 5%;
  left: 11%;
  z-index: 1;
}
.link,
.link1 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 5.36rem var(--padding-145xl) var(--padding-2xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  background-image: url(/public/link@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 10.24rem;
  max-width: 10.24rem;
  min-height: 12.5rem;
}
.link1 {
  padding: var(--padding-sm) 4.55rem var(--padding-145xl) var(--padding-2xs);
  background-image: url(/public/link1@3x.png);
}
.divdivBlock8CopyCopy,
.divsection2 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.divdivBlock8CopyCopy {
  top: 36.61rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) 1.45rem var(--padding-xl) var(--padding-mini);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 1.51rem;
  text-align: left;
}
.divsection2 {
  top: 0;
  height: 54.8rem;
  overflow: hidden;
  background-image: url(/public/divsection2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-sm-8);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.whatAdhdCanLookContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 2.63rem;
  font-weight: 400;
  font-family: inherit;
}
.pparagraph28,
.pparagraph28margin {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  max-width: 37.5rem;
}
.pparagraph28 {
  padding: var(--padding-0) 1.37rem var(--padding-12xs) 1.38rem;
}
.pparagraph28margin {
  padding: var(--padding-0) var(--padding-0) var(--padding-61xl);
}
.lowAttentionSpanContainer {
  position: relative;
  line-height: 1.05rem;
}
.divdivBlock43,
.pparagraph29 {
  display: flex;
  box-sizing: border-box;
}
.pparagraph29 {
  flex-direction: row;
  padding: var(--padding-0) 1.96rem var(--padding-0) 1.97rem;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.77;
  max-width: 8.44rem;
}
.divdivBlock43 {
  position: absolute;
  height: calc(100% - 153.8px);
  top: 0;
  bottom: 9.61rem;
  left: 0.63rem;
  width: 9.51rem;
  flex-direction: column;
  padding: var(--padding-0) 0.53rem 2.29rem 0.53rem;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 9.51rem;
}
.ce1b7e45dade08bc95df60eb42f8cIcon {
  position: relative;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  opacity: 0.81;
  max-width: 5rem;
}
.pparagraph291 {
  flex-direction: row;
  padding: var(--padding-0) 1.27rem var(--padding-0) 1.29rem;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.77;
  max-width: 8.44rem;
}
.divdivBlock431,
.pparagraph291,
.pparagraph292 {
  display: flex;
  box-sizing: border-box;
}
.divdivBlock431 {
  position: absolute;
  height: calc(100% - 153.8px);
  top: 0;
  bottom: 9.61rem;
  left: 12.37rem;
  width: 9.51rem;
  flex-direction: column;
  padding: var(--padding-0) 0.66rem 3.35rem 0.66rem;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 9.51rem;
}
.pparagraph292 {
  flex-direction: row;
  padding: var(--padding-0) 1.3rem var(--padding-0) 1.31rem;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.77;
  max-width: 8.44rem;
}
.divdivBlock432 {
  position: absolute;
  height: calc(100% - 170.59px);
  top: 10.66rem;
  bottom: 0;
  left: 0.63rem;
  width: 9.51rem;
  flex-direction: column;
  padding: var(--padding-0) 1.92rem 2.3rem 1.92rem;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 9.51rem;
}
.divdivBlock432,
.divdivBlock433,
.pparagraph293 {
  display: flex;
  box-sizing: border-box;
}
.pparagraph293 {
  flex-direction: row;
  padding: var(--padding-0) 1.37rem var(--padding-0) 1.38rem;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.77;
  max-width: 8.44rem;
}
.divdivBlock433 {
  position: absolute;
  height: calc(100% - 170.59px);
  top: 10.66rem;
  bottom: 0;
  left: 12.37rem;
  width: 9.51rem;
  flex-direction: column;
  padding: var(--padding-0) 0.69rem 2.3rem 0.69rem;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 9.51rem;
}
.divdivBlock42 {
  position: relative;
  width: 22.5rem;
  height: 20.27rem;
  min-width: 15.84rem;
  min-height: 6.25rem;
}
.divdivBlock42margin {
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-0) var(--padding-0) var(--padding-2xl);
  align-items: flex-start;
  justify-content: space-between;
  min-width: 15.84rem;
  min-height: 7.56rem;
  font-size: var(--font-size-2xs);
}
.divdivBlock42margin,
.divdivBlock434,
.pparagraph294 {
  display: flex;
  box-sizing: border-box;
}
.pparagraph294 {
  flex-direction: row;
  padding: var(--padding-0) 2.31rem var(--padding-0) 2.32rem;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.77;
  max-width: 8.44rem;
}
.divdivBlock434 {
  position: absolute;
  height: calc(100% - 187.39px);
  top: 0;
  bottom: 11.71rem;
  left: 0.63rem;
  width: 9.51rem;
  flex-direction: column;
  padding: var(--padding-0) 0.53rem 2.27rem 0.53rem;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 9.51rem;
}
.pparagraph295 {
  flex-direction: row;
  padding: var(--padding-0) 1.32rem var(--padding-0) 1.33rem;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.77;
  max-width: 8.44rem;
}
.divdivBlock435,
.pparagraph295,
.pparagraph296 {
  display: flex;
  box-sizing: border-box;
}
.divdivBlock435 {
  position: absolute;
  height: calc(100% - 187.39px);
  top: 0;
  bottom: 11.71rem;
  left: 12.37rem;
  width: 9.51rem;
  flex-direction: column;
  padding: var(--padding-0) 1.21rem 4.4rem 1.21rem;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 9.51rem;
}
.pparagraph296 {
  flex-direction: row;
  padding: var(--padding-0) 1.53rem var(--padding-0) 1.54rem;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.77;
  max-width: 8.44rem;
}
.divdivBlock436,
.divdivBlock437 {
  position: absolute;
  height: calc(100% - 187.39px);
  top: 11.71rem;
  bottom: 0;
  left: 0.63rem;
  width: 9.51rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 0.53rem 3.34rem 0.53rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 9.51rem;
}
.divdivBlock437 {
  left: 12.37rem;
  padding: var(--padding-0) 0.53rem 2.27rem 0.53rem;
}
.divdivBlock421 {
  position: relative;
  width: 22.5rem;
  height: 23.42rem;
  min-width: 15.84rem;
  min-height: 6.25rem;
}
.divdivBlock42margin1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-0) var(--padding-0) var(--padding-2xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 15.84rem;
  min-height: 7.56rem;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.divdivBlock66,
.divsection8 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.divsection8 {
  top: 54.25rem;
  background-color: #ebe3d9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 3.69rem var(--padding-mini) 2.5rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.divdivBlock66 {
  top: 0.03rem;
  height: 117.06rem;
}
.linkHome6105a56d18905c16 {
  position: relative;
  width: 9.38rem;
  height: 2.27rem;
  object-fit: cover;
  max-width: 9.38rem;
}
.divmenuIcon1LineTop {
  position: relative;
  background-color: var(--color-black);
  width: 1.5rem;
  height: 0.13rem;
}
.divmenuIcon1,
.divmenuIcon1LineMiddlemar {
  width: 1.5rem;
  height: 0.88rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-0);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.divmenuIcon1 {
  width: 3rem;
  height: 3rem;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-xs);
}
.buttonMenu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divnavbar1Container,
.divnavbar1Containermargin {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.divnavbar1Containermargin {
  padding: var(--padding-8xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: 21.94rem;
}
.adhdGyan,
.banner {
  background-color: var(--color-white);
  width: 100%;
}
.banner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-lgi-5);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
}
.adhdGyan {
  position: relative;
  height: 117.06rem;
}
